<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/myStyle.css">
</head>
<body class="login-body">
    <div class="login-container">
        <h1>Register</h1>
        <form action="/register" method="post">
            <label for="username" class="login-label" >Username</label>
            <input type="text" class="user-input" id="username-create" name="username">
            <label for="email" class="login-label">Email</label>
            <input type="text" class="user-input" id="email-create" name="email">
            <label for="password" class="login-label">Password</label>
            <input type="text" class="user-input" id="password-create" name="password">
            <button class="submit">submit</button>
        </form>
    </div>
</body>
</html>